[submodule "encryption-decryption"]
	path = encryption-decryption
	url = https://github.com/SharonChiru/encryption-decryption
[submodule "Python-Holiday-Assignment"]
	path = Python-Holiday-Assignment
	url = https://github.com/SharonChiru/Python-Holiday-Assignment
[submodule "to-do-app"]
	path = to-do-app
	url = https://github.com/SharonChiru/to-do-app
